<div class="ui segment">
    <div class="ui active inverted dimmer">
    <div class="ui text loader">@LoadingText</div>
    </div>
    <p></p>
</div>

@code {

    [Parameter]
    public string LoadingText { get; set; }
}
