@using BlazorAuth.Data
@using BlazorAuth.Shared.SemanticUI
@inherits LayoutComponentBase
@inject SessionState SessionState;

<PageTitle>Blazor Auth</PageTitle>

<div class="ui container">
    <h2 class="ui dividing header">Blazor Auth App</h2>
    <div class="ui menu">
        <NavigationLink Href="/">LAnding page</NavigationLink>
       
        <AuthorizeView Roles="Admin, User">
            <NotAuthorized>
                <NavigationLink Href="/login">Log in</NavigationLink>
                <NavigationLink Href="/register">Sign up</NavigationLink>
            </NotAuthorized>
            <Authorized>
                <NavigationLink Href="/profile">My profile</NavigationLink>
                <NavigationLink Href="/logout">Log out</NavigationLink>
            </Authorized>
        </AuthorizeView>
        
        <NavigationLink Href="/about">About</NavigationLink>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <NavigationLink Href="/admin/users">Manage users (admin section)</NavigationLink>
            </Authorized>
        </AuthorizeView>
    </div>
    @Body
</div>