@page "/about"

<PageTitle>About</PageTitle>

<h3 class="ui  header">About this site</h3>
<p class="ui">
    The world of Financial Technology (or FinTech for short) is a place filled with a lot of jargon and specific words, which you do not find elsewhere.
    Having spent a long time developing Transaction Banking growth and technology strategies for large banks, I set out to create a web app that can automate the generation of products and services within the Transaction Banking space.
    FinTech Proposition Generator is the result of this endeavour. It is a free-to-use, open source web app with three purposes:
</p>

    <ul>
        <li>Teach the author how to write web apps using Microsoft's latest open source technology (Blazor)</li>
        <li>Show to a beginner audience what a Blazor server-side app looks like</li>
        <li>Have fun and geek out over quite a complex "niche" topic</li>
    </ul>
    
<p class="ui">
    The code is open source (BSD licensed) and available on GitHub.
</p>

<h3 class="ui header">About the author</h3>
<p class="ui">
    My name is Anders. In my day-job I work as a <a href="https://www.linkedin.com/in/andersjw/">management consultant</a> with a global strategy consulting firm, specializing in banking and technology strategy. I like solving complex problems and helping others deliver results.<br />
    Outside of work, I like programming due to my background as a sofware engineer and <a href="https://github.com/ajensenwaud/">contribute to various open source projects</a> when time permits (I have contributed to the <a href="https://www.freebsd.org/">FreeBSD Project</a>, helped port the <a href="https://github.com/dotnet/runtime">.NET CoreCLR runtime to FreeBSD</a>, and helped patch the open source messaging platform <a href="https://matrix.org/>"Matrix</a>). C# / .Net is my favouite platform due to its elegance, simplicity, and accessibilty.
</p>


@code {
    
}