@page "/"
@inherits BlazorAuthComponentBase;
@using TxB.Data
@using System.Security.Claims
@using System.Xml
@using TxB.Services
@using TxB.Shared.SemanticUI
@using TxB.Shared.Components
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject WordService WordService 
@inject AuthenticationService WebsiteAuth

<div class="ui container">
    <h4 class="ui header">Your transaction banking proposition is ...</h4>


    

    
    @if (Loading)
    {
        <div class="ui segment">
          <p></p>
          <div class="ui active dimmer">
            <div class="ui loader"></div>
          </div>
        </div>
    } else
    {
        <h3 class="ui block header">@Proposition.ToString()</h3>    
    }

    <button @onclick="RefreshProposition" class="ui button primary">
        <i class=" refresh icon"></i>
        Give me a new one, please!
     </button>

</div>

<div class="ui container">
    <p><a href="/register">Create a profile</a> to contribute new words to the database!</p>
</div>


@code {
    private ClaimsPrincipal User { get; set; }

    private Proposition Proposition { get; set; }

    private bool Loading { get; set; } = false;

    protected async override void OnInitialized()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
        var prop = WordService.GenerateProposition();
        Proposition = prop;
    }

    private async void RefreshProposition()
    {
        Loading = true;
        await Task.Delay(1);
        var prop = WordService.GenerateProposition();
        await Task.Delay(1);
        Loading = false;
        Proposition = prop;
        StateHasChanged();
    }

}