@page "/activate/{ActivationId}"
@using BlazorAuth.Data
@using BlazorAuth.Services
@inject NavigationManager NavManager;
@inject IdentityContext IdentityContext;
@inject AuthenticationService AuthenticationService;

<h4 class="ui header">Activation</h4>

<p>
    Your account has been activated! Please proceed to <a href="/login">the login page</a> to log in with your activated credentials.
</p>

@code {

    protected override void OnInitialized()
    {
        
        base.OnInitialized();
        
        if (string.IsNullOrEmpty(ActivationId))
            ToFrontPage();
        
        // Find user and activate it:
        var u = AuthenticationService.FindByActivationId(ActivationId);
        AuthenticationService.ActivateUser(u);

    }

    private void ToFrontPage()
    {
        NavManager.NavigateTo("/");
    }

    [Parameter]
    public string ActivationId { get; set; }

}